@import "tailwindcss";

:root {
 --font-titanone: 'Titan One', sans-serif;
}
 
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}


@font-face {
  font-family: 'CarterOne-Regular';
  src: url('/fonts/CarterOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* YOUNG SERIF */
@font-face {
  font-family: 'Young Serif';
  src: url('/fonts/YoungSerif-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rancho-Regular';
  src: url('/fonts/Rancho-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Class khusus */
.font-title {
  font-family: 'CarterOne-Regular', sans-serif;
}

.font-pretitle {
  font-family: 'Young Serif', serif;
}
.font-paragraf {
  font-family: 'Rancho-Regular', sans-serif;
}





/* Border Animation */
@keyframes borderMove {
  0% { background-position: 0% 50%; }
  100% { background-position: 200% 50%; }
}

.animate-borderMove {
  background-size: 200% 200%;
  animation: borderMove 4s linear infinite;
}

/* Shimmer Animation */
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 3s infinite;
}

@keyframes float {
  0%, 100% { transform: translateY(0px); }
  50% { transform: translateY(-12px); }
}

.animate-float {
  animation: float 5s ease-in-out infinite;
}



/* Expand smooth tanpa JS */
.details-content {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s ease, opacity 0.4s ease;
  opacity: 0;
}

details[open] .details-content {
  grid-template-rows: 1fr;
  opacity: 1;
}

.details-inner {
  overflow: hidden;
}


















/* ===== SCROLL ANIMATION (Ringan & Modern) ===== */

.fade-up {
  opacity: 0;
  transform: translateY(40px);
  animation: fadeUp 0.8s ease forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Delay Variations */
.delay-1 { animation-delay: 0.1s; }
.delay-2 { animation-delay: 0.2s; }
.delay-3 { animation-delay: 0.3s; }
.delay-4 { animation-delay: 0.4s; }
.delay-5 { animation-delay: 0.5s; }





 @keyframes radialPulse {
  0% { transform: translate(0) rotate(var(--start)) translate(var(--radius)) rotate(calc(-1 * var(--start))); }
  50% { transform: translate(0) rotate(var(--start)) translate(calc(var(--radius) + 10px)) rotate(calc(-1 * var(--start))); }
  100% { transform: translate(0) rotate(var(--start)) translate(var(--radius)) rotate(calc(-1 * var(--start))); }
}