@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-blink {
    animation: blink 0.7s infinite step-start;
  }
.mode{
    @apply text-black bg-white dark:bg-[#0C0C0C] dark:text-white;
}

.title-section {
  @apply text-center mt-5;
}

.primary-title {
  @apply text-5xl tracking-wide font-extrabold mb-[-2rem] bg-gradient-to-r from-transparent via-transparent to-black bg-clip-text text-slate-200;
}

.secondary-title {
  @apply text-4xl font-bold text-primary;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;   
    scrollbar-width: none;   
}

.icon{ 
    @apply flex items-center justify-center p-2 border-t-2 border-b-2 rounded-lg border-primary hover:bg-primary hover:text-white;
}
.box{ 
    @apply flex flex-col items-center p-4 rounded-lg shadow-md dark:shadow-white/5;
}
.secondarytext{
    @apply text-gray-600 dark:text-slate-300;
   }


/* portfolio  */
.card:hover .card-image {
            filter: blur(5px);
        }
        .card:hover .icon-overlay {
            opacity: 1;
        }